#填寫你目標放入的sheet id
SPREADSHEET_ID='your sheet id'

#FB帳號密碼
FB_USERNAME='fb username'
FB_PASSWORD='fb password'
#FB跑經典版還是新版(classic/new)
FB_VERSION='new'
#104帳號密碼
OHF_USERNAME='104 username'
OHF_PASSWORD='104 password'

#這是設定排程的時間參數(目前預設每日22:30準時執行)
CRONJOB_TIME='0 30 22 * * *'