<style>
  .publicFooter{
    /* margin-top: 20px; */
    padding: 20px;
    display: flex;
    justify-content: center;
    background-color: #454d4a;
  }
  .publicFooter small{
    font-size: 12px;
    color: rgb(240, 242, 241);
  }
</style>
<div class="publicFooter">
  <small>Copyright © 2023. All rights reserved.</small>
</div>
<!-- <script>
  const pageJson = JSON.parse('<%# JSON.stringify(data) %>')
  const pageJson = '<%# JSON.stringify(data) %>'
  console.log(pageJson)
</script> -->
<script src="./js/public.js"></script>
