<style>
  .publicNav{
    position: fixed;
    width: 100%;
    padding: 12px 0;
    /* background: #333; */
    background: #fff;
    border-bottom: 1px solid #e2e6e4;
    z-index: 99;
    height: 58px;
  }
  .publicNav .publicWidth{
    align-items: center;
    justify-content: space-between;
  }
  .publicNav .logo a{
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -1px;
    color: #13ab67;
    font-weight: bold;
    display: flex;
    align-items: center;
  }
  .publicNav .logo a svg{
    width: 28px;
    height: auto;
    fill: #fff;
    margin-right: 5px;
  }
  .publicNav .nav ul{
    display: flex;
    align-items: center;
  }
  .publicNav .nav li{
    padding: 0 6px;
  }
  .publicNav .nav a{
    font-size: 15px;
    font-weight: 400;
    color: #626264;
    padding: 6px 12px;
    border-radius: 4px;
  }
  .publicNav .nav a:hover{
    color: #13ab67;
  }
  .publicNav .nav a.active{
    color: #fff;
    background-color: #13ab67;
  }
</style>
<div class="publicNav">
  <div class="publicWidth">
    <div class="logo">
      <a href="./">
        <!-- <svg
          clip-rule="evenodd"
          fill-rule="evenodd"
          stroke-linejoin="round"
          stroke-miterlimit="2"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path d="m2.394 15.759s7.554 4.246 9.09 5.109c.165.093.333.132.492.132.178 0 .344-.049.484-.127 1.546-.863 9.155-5.113 9.155-5.113.246-.138.385-.393.385-.656 0-.566-.614-.934-1.116-.654 0 0-7.052 3.958-8.539 4.77-.211.115-.444.161-.722.006-1.649-.928-8.494-4.775-8.494-4.775-.502-.282-1.117.085-1.117.653 0 .262.137.517.382.655zm0-3.113s7.554 4.246 9.09 5.109c.165.093.333.132.492.132.178 0 .344-.049.484-.127 1.546-.863 9.155-5.113 9.155-5.113.246-.138.385-.393.385-.656 0-.566-.614-.934-1.116-.654 0 0-7.052 3.958-8.539 4.77-.211.115-.444.161-.722.006-1.649-.928-8.494-4.775-8.494-4.775-.502-.282-1.117.085-1.117.653 0 .262.137.517.382.655zm10.271-9.455c-.246-.128-.471-.191-.692-.191-.223 0-.443.065-.675.191l-8.884 5.005c-.276.183-.414.444-.414.698 0 .256.139.505.414.664l8.884 5.006c.221.133.447.203.678.203.223 0 .452-.065.689-.203l8.884-5.006c.295-.166.451-.421.451-.68 0-.25-.145-.503-.451-.682z" fill-rule="nonzero"/>
        </svg> -->
        WorkCrawler
      </a>
    </div>
    <div class="nav">
      <ul>
        <li>
          <a href="./" class="<%if(active=='home'){%>active<%}%>">首頁</a>
        </li>
        <li>
          <a href="./crawl" class="<%if(active=='crawl'){%>active<%}%>">工作項目</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- <script>
  const publicNavSerch = document.querySelector('.publicNav .serch')
  const publicNavSerchInput = publicNavSerch.querySelector('input')
  const publicNavSerchLink = publicNavSerch.querySelector('a')
  publicNavSerchLink.addEventListener('click',function(){
    const value = publicNavSerchInput.value
    if(!value){
      alert('請輸入股號')
      return false;
    }
    window.location = `./individual/${value}`;
  })
</script> -->
