.crawl .publicContent {
  padding: 80px 20px 60px;
  max-width: 680px;
  width: 100%;
  margin: auto;
}
.crawl .publicBox{
  padding: 32px;
}
.crawl .itemDiv{
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}
.crawl .itemDiv .text{
  width: 70%;
}
.crawl .titleDiv{
  border-bottom: 1px solid #d1d6d4;
  padding: 0 16px;
  padding-bottom: 10px;
}
.crawl .itemDivs{
  padding: 8px 16px;
  height: 230px;
  overflow: auto;
  margin-top: 8px;
}
.crawl .itemDivs .itemDiv+.itemDiv{
  margin-top: 6px;
}
.crawl .itemDivs .itemDiv .delete{
  color: #f16363;
  text-decoration: underline;
}
.crawl .inputDiv{
  margin-bottom: 16px;
  display: flex;
  align-items: center;
}
.crawl .inputDiv .label{
  flex: 0 0 80px;
}
.crawl .inputDiv .label label{
  color: #626264;
  font-size: 14px;
  font-weight: 400;
  display: block;
}
.crawl .inputDiv .input{
  position: relative;
  width: 100%;
}
.crawl .inputDiv .input select,
.crawl .inputDiv .input input{
  min-height: 40px;
  border: 1px solid #d1d6d4;
  border-radius: 4px;
  padding: 8px;
  background-color: #fff;
  font-size: 14px;
  width: 100%;
}
.crawl .inputDiv .input select{
  background: #fff url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' fill='%23626264' viewBox='0 0 448 512'><path d='M224 416c-8.188 0-16.38-3.125-22.62-9.375l-192-192c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L224 338.8l169.4-169.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-192 192C240.4 412.9 232.2 416 224 416z'/></svg>") no-repeat right 18px center/12px;
  outline: none;
  appearance: none;
}
.crawl .buttonDiv{
  margin: 24px 0 0;
  display: flex;
  justify-content: end;
}
.crawl .buttonDiv a{
  font-size: 15px;
  color: #fff;
  background-color: #13ab67;
  padding: 12px;
  border-radius: 4px;
  text-align: center;
  width: calc(100% - 80px);
}
