.crawl{
  font-size: 14px;
}
.crawl .publicContent{
  min-height: calc(100vh - 57px);
}
.crawl .publicContent .publicWidth {
  display: block;
}
.crawl .publicContent .publicBox{
  padding: 0;
  border-radius: 8px;
  border: 1px solid #e2e6e4;
}
.crawl .flex{
  display: flex;
  padding: 6px 24px;
  align-items: center;
}

.crawl .titleDiv .flex{
  justify-content: space-between;
  padding: 16px 24px;
}
.crawl .titleDiv .publictitle{
  margin: 0;
}
.crawl .titleDiv .add {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #e2e6e4;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
}
.crawl .titleDiv .add svg{
  width: 12px;
  height: auto;
  margin-right: 6px;
  fill: #8c8c8f;
}
.crawl .tableTitle{
  background: #f9f9f9;
  border-top: 1px solid #e2e6e4;
  border-bottom: 1px solid #e2e6e4;
}
.crawl .tableContent {
  padding: 10px 0 20px;
}
.crawl .tableContent .input{
  position: relative;
}
.crawl .tableContent .input .error{
  font-size: 12px;
  padding: 3px 6px;
  color: #fff;
  background: red;
  border-radius: 4px;
  position: absolute;
  left: 0;
  bottom: -15px;
  line-height: 1;
}
.crawl .tableContent .input textarea,
.crawl .tableContent .input p,
.crawl .tableContent .input input{
  /* border: none; */
  color: #8c8c8f;
  padding: 8px;
  width: 100%;
  border-radius: 6px;
  font-size: 13px;
  font-weight: 400;
  word-wrap:break-word
}
.crawl .tableContent .input input{
  display: none;
  border: 1px solid #e2e6e4;
}
.crawl .tableContent .flex.select{
  /* outline: 1px solid #e2e6e4;
  color: #e2e6e4; */
  background: #f9f9f9;
}
.crawl .tableContent .flex.active input{
  display: block;
}
.crawl .tableContent .flex.active p{
  display: none;
}
.crawl .tableDiv .flex>div{
  padding: 6px 12px;
}
.crawl .tableDiv .totle,
.crawl .tableDiv .amount{
  width: 6%;
}
.crawl .tableDiv .state{
  width: 7%;
}
.crawl .tableDiv .keyword{
  width: 15%;
}
.crawl .tableDiv .nokeyword{
  width: 25%;
}
.crawl .tableDiv .name{
  width: 20%;
}
.crawl .tableDiv .url{
  width: 20%;
}
.crawl .tableDiv .totle,
.crawl .tableDiv .amount{
  display: flex;
  justify-content: center;
}
.crawl .tableDiv .state{
  display: flex;
  justify-content: flex-end;
}
.crawl .tableDiv .state a{
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: 6px;
}
.crawl .tableDiv .state a.ok svg,
.crawl .tableDiv .state a.ok:hover svg,
.crawl .tableDiv .state a.edit:hover svg{
  fill: #13ab67;
}
.crawl .tableDiv .state a.cancel svg,
.crawl .tableDiv .state a.delete:hover svg,
.crawl .tableDiv .state a.cancel:hover svg{
  fill: #f16363;
}
.crawl .tableDiv .state a svg{
  /* max-width: 20px; */
  width: 100%;
  height: auto;
  fill: #8c8c8f;
}
.crawl .tableContent .flex.active .state a.ok,
.crawl .tableContent .flex.active .state a.cancel{
  padding: 1px;
}
.crawl .tableContent .flex .state a.ok,
.crawl .tableContent .flex .state a.cancel{
  display: none;
}
.crawl .tableContent .flex.active .state a.ok,
.crawl .tableContent .flex.active .state a.cancel{
  display: flex;
}
.crawl .tableContent .flex.active .state a.edit,
.crawl .tableContent .flex.active .state a.delete{
  display: none;
}

