
.home a{
  cursor: pointer;
}
.home .publicContent{
  /* min-height: calc(100vh - 57px); */
  min-height: 200vh;
}
.home .publicContent .publicWidth{
  display: block;
}
/* .home .publicBoxs{
  column-count: 4;
  column-gap: 12px;
} */
/* .home .publicBox+.publicBox{
  margin-top: 12px;
} */
.home .publicBoxs{
  position: relative;
  width: 1340px;
}
.home .publicBox{
  width: 323px;
  height: auto;
  position: absolute;
  transition: opacity 1s;
}
.home .publicBox{
  outline: 1px solid #e2e6e4;
  break-inside: avoid;
  /*定義頁面、列或是區域發生中斷時的元素表現方式。 auto->元素中斷、acoid->元素不中斷*/
}
.home .publicBox.active{
  outline: 1px solid #13ab67;
}
.home .publicBox .topDiv{
  display: flex;
  justify-content: space-between;
}
.home .publicBox .topDiv .left{
  display: flex;
  align-items: center;
  width: 90%;
}
.home .publicBox .topDiv .img{
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 40px;
  background: #b4b8bb;
}
.home .publicBox .topDiv img{
  width: 40px;
  height: auto;
}
.home .publicBox .topDiv .text{
  /* margin-left: 10px; */
  width: calc(100% - 40px);
  padding-left: 10px;
  /* max-width: calc( 100% - ( 24px + 24px + 24px + 40px ) ); */
  /* max-width: 80%; */
}
.home .publicBox .topDiv .name{
  color: #13ab67;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: -5px;
}
.home .publicBox .topDiv .date{
  font-size: 13px;
  color: #a7abaf;
  display: inline-block;
  line-height: 1;
}
.home .publicBox .topDiv .delete svg{
  fill: #b6b8bb;
  width: 16px;
  height: auto;
}
.home .publicBox .topDiv .delete:hover svg{
  fill: #858588;
}
.home .publicBox .textDiv p{
  font-size: 14px;
  padding: 12px 0 24px;
  /* white-space: pre; */
  /*連續的空白字元會被合併(collapse)。換行在換行字元*/
  white-space: pre-line; 
  /*文字本身斷行*/
  word-break: break-all;
  line-height: 1.6;
  font-weight: 400;
}
.home .publicBox .imgDiv{
  margin-bottom: 12px;
}
.home .publicBox .imgDiv img{
  width: 100%;
  height: auto;
}
.home .publicBox .buttonDiv a{
  font-size: 15px;
  color: #fff;
  background-color: #13ab67;
  padding: 8px;
  border-radius: 4px;
  text-align: center;
}
.home .publicBox .buttonDiv a:hover{
  /* background-color: #52ca94; */
  background-color: #3eaf7c;
}
.home .publicPageNumber{
  margin-top: 36px;
}