
.home .publicCol-7 .publicBox .topDiv{
  display: flex;
}
.home .publicCol-7 .publicBox .topDiv .img{
  width: 40px;
  height: auto;
  overflow: hidden;
  border-radius: 40px;
}
.home .publicCol-7 .publicBox .topDiv img{
  width: 40px;
  height: auto;
}
.home .publicCol-7 .publicBox .topDiv .text{
  margin-left: 10px;
}
.home .publicCol-7 .publicBox .topDiv .name{
  color: #13ab67;
  font-size: 18px;
  font-weight: bold;
}
.home .publicCol-7 .publicBox .topDiv .date{
  font-size: 12px;
}
.home .publicCol-7 .publicBox .textDiv{
  font-size: 16px;
  padding: 12px 0;
}
.home .publicCol-7 .publicBox .imgDiv{
  margin-bottom: 12px;
}
.home .publicCol-7 .publicBox .imgDiv img{
  width: 100%;
  height: auto;
}
.home .publicCol-7 .publicBox .buttonDiv a{
  font-size: 15px;
  color: #fff;
  background-color: #13ab67;
  padding: 8px;
  border-radius: 4px;
  text-align: center;
}
.home .publicCol-7 .publicBox .buttonDiv a:hover{
  background-color: #52ca94;
}
.home .publicCol-3 .publicBox .item{
  display: flex;
  font-size: 15px;
  padding: 6px 0;
  justify-content: space-between;
}
.home .publicCol-3 .publicBox .item+.item{
  border-top: 1px solid #e6e9f1;
}

.home .publicCol-3 .publicBox .text{
  max-width: 80%;
}
.home .publicCol-3 .publicBox .number{
  color: #13ab67;
}
.home .publicCol-3 .publicBox .title .text{
  font-size: 12px;
}